# Copy this file to .env and fill in your Neo4j credentials

# For local Neo4j Desktop / Community use: bolt://localhost:7687
# For Neo4j Aura use the connection URI they give you: neo4j+s://xxxx.databases.neo4j.io
NEO4J_URI=neo4j+s://59d5d728.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=eHRMa4imgjXQ3vC32XTouFKuRpJDxrGuiQyBCefpQ8o

PORT=3000
